<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<link rel="stylesheet" href="../../common/main.css" />
		<link rel="stylesheet" href="css/portfolio.css" />
		<link rel="shortcut icon" href="../../common/smoleyengineers.ico" />
		<script src="http://cdn.jsdelivr.net/vue/2.0.3/vue.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body>
		<!-- navbar -->
		<nav class="navbar">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-navbar" aria-expanded="false">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="../../index.html">Smoley Engineers</a>
				</div>
				<div class="collapse navbar-collapse" id="collapse-navbar">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="../about us/aboutus.html">About Us</a></li>
						<li><a href="../services/services.html">Services</a></li>
						<li class="active"><a href="#">Portfolio</a></li>
						<li><a href="../experience/experience.html">Experience</a></li>
						<li><a href="../contact/contact.html">Contact</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<!-- main container -->
		<div class="container" id="portfolioPage">

			<div id="carousel" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#carousel" data-slide-to="0" class="active"></li>
					<li data-target="#carousel" data-slide-to="1"></li>
					<li data-target="#carousel" data-slide-to="2"></li>
				</ol>

				<!-- Wrapper for carousel items -->
				<div class="carousel-inner">
					<div v-for="(slide, index) in slides" class="item" :class="{ active: index == 0 }">
						<h1>{{slide.title}}</h1>
					</div>
				</div>

				<!-- Carousel controls -->
				<a class="carousel-control left" href="#carousel" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</a>
				<a class="carousel-control right" href="#carousel" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</a>
			</div>

			<h1>Projects Portfolio</h1>

			<p class="text-justify">The following selected projects are representative of the many services offered by <span class="accent">Smoley Engineers & Consultants, LLC</span>, and may include structural engineering analysis and
				design, construction documents preparation, and market feasibility study consulting services.</p>

			<div v-for="d in descriptions" class="card">
				<h3>{{d.title}}</h3>
				<h5> - {{d.location}}</h5>
				<p>{{d.text}}</p>
			</div>

		</div>
		<!-- end main container -->

		<footer>
			<div class="text-center">
				<a href="#">Home</a>
				<span>|</span>
				<a href="aboutus.html">About Us</a>
				<span>|</span>
				<a href="services.html">Services</a>
				<span>|</span>
				<a href="portfolio.html">Portfolio</a>
				<span>|</span>
				<a href="experience.html">Experience</a>
				<span>|</span>
				<a href="contact.html">Contact</a>
			</div>
			<p class="text-center">COPYRIGHT&copy; 2009, SMOLEY ENGINEERS & CONSULTANTS, LLC, ALL RIGHTS RESERVED</p>
		</footer>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="portfolio.js"></script>
	</body>

</html>